  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav class="nav-container">
    <% if (user) { %>
      <div>
        <img src="/assets/safe-space-logo.png" id="nav-logo"> 
      </div> 
      <div>
        <a
        href='/entries/<%= user.profile._id %>/journal' <%- title === 'Your Journal' ? 'class="active"' : '' %>
      >
        Your Journal
      </a>
        <a
        href="/entries/new" <%- title === 'Add Entry' ? 'class="active"' : '' %>
      >
        Add Entry
      </a>
      <a 
        href="/entries/" <%- title === 'Your Community' ? 'class="active"' : '' %>
      >
        Your Community 
      </a>
      <a href="/auth/logout" class="right" type="submit"><i class="fa-solid fa-right-from-bracket"></i>
      </a>
      </div>
      
    <% } else { %>
      <div 
        id="g_id_onload"
        data-client_id="<%= googleClientID %>"
        data-login_uri="/auth/google"
        data-auto_prompt="false"
      ></div>
      <div 
        class="g_id_signin right"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left"
      ></div>
    <% } %>
  </nav>
