<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form id="new-form" action="/entries/<%= entry._id %>?_method=PUT" method="POST">
    <input type="text" name="title"> 
    <textarea rows="15" cols="13" name="text" required></textarea> 
    <button type="submit" id="details-button">Details</button>
    <button type="submit" id="edit-button">Edit</button>
  </form>
</main>

<%- include('../partials/footer') %>