<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>Your Journal</h1>
  <% entries.forEach(entry => { %>
    <div id="entryDate"><%= entry.date%></div>
    <div id="entryText"><%= entry.text%></div>
    <a href="/entries/<%= entry._id %>" id="Details">Details</a>
  <% }) %>
</main>

<%- include('../partials/footer') %>