<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/entries/index.css" />
<%- include('../partials/nav') %>

<main>
  <div id="body-div">
    <div id="header-div"> 
      <h1 id="community-line" class="animate__animated animate__fadeInDown">Your Community</h1>
      <img id="hand-sun" src="/assets/the-hand-with-sun.png" alt="Hand reaching out to sun">
    </div>

    <div id="entry-div">
      <% entries.forEach(entry => { %>
        <div id="one-entry">
          <div id="author-info">
            <img src="<%= entry.authorId.avatar %>" class="avatar"/>
            <div id="extra-info-div">
              <p id="author-name"><%= entry.authorId.name %></p>
              <div id="entry-date">
                <%= entry.date.toString().slice(0,15)%>
              </div>
              <div id="entry-time">
                <%= entry.date.toString().slice(15,24)%>
              </div>
            </div>
          </div>
              
            
        
          <div id="entry-text">
            <ul id="entry-contents">
              <li id="title-text"><%= entry.title %></li>
              <li id="entry-body"><%= entry.text%></li>
            </ul>
          </div>

          <div id="details-button">
            <a href="/entries/<%= entry._id %>" id="Details">
              <button><span class="text">Details</span>
                <span class="blob"></span>
                <span class="blob"></span>
                <span class="blob"></span>
                <span class="blob"></span>
              </button>
              </a>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</main>

<%- include('../partials/footer') %>