<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div >
    <h1><%= entry.date.toString().slice(0,15)%></h1>
    <h4><%= entry.authorId.name %></h4>
    <h6><%= entry.date.toString().slice(15,24)%></h6>
    <div><%= entry.text %></div>
  </div>
  <% if (user.profile._id.equals(entry.authorId._id)) { %>
  <div>
    <div>
      <form action="/entries/<%= entry._id %>/edit">
        <button class="edit-entry" id="edit-entry-button">Edit</button>
      </form>
    </div>
    <div>
      <form action="/entries/<%= entry._id %>?_method=DELETE" method="POST">
        <button type="submit" id="delete-button">Delete</button>
      </form>
    </div>
  </div>
<% } %>
  <div>
    <form action="/entries/<%= entry._id %>/comments" method="POST"> 
      <textarea rows="10" cols="15" name="text" placeholder="Share kind words..." required></textarea>
      <button type="submit">Post</button>
    </form>
    <p><%= entry.comments.length %></p>
  </div>
  <ul>
    <% entry.comments.forEach(comment => { %> 
      <li>
        <img src="<%= comment.authorId.avatar %>" class="avatar"/>
        <%= comment.authorId.name %>
        <%= entry.date.toString().slice(0,15)%>
        <%= entry.date.toString().slice(15,24)%>
        <%= comment.text %>
        <% if (user.profile._id.equals(comment.authorId._id)) { %>
        <form action="/entries/<%= entry._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
          <button type="submit" id="delete-icon"><i class="fa-solid fa-trash-can"></i></button>
        </form>
      </li>
      <% } %>
    <% }) %> 
  </ul>
</main>

<%- include('../partials/footer') %>