<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= entry.date %></h1>
  <div><%= entry.text %></div>
  <div>
    <form action="/entries/<%= entry._id %>/edit">
    <button class="edit-entry" id="edit-entry-button">Edit</button>
    </form>
  </div>
  <div>
    <form action="/entries/<%= entry._id %>?_method=DELETE" method="POST">
    <button type="submit" id="delete-button">Delete</button>
    </form>
  </div>
</main>

<%- include('../partials/footer') %>