<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= entry.date %></h1>
  <h4><%= entry.authorId.name %></h4>
  <div><%= entry.text %></div>
  <% if (user.profile._id.equals(entry.authorId._id)) { %>
  <div>
    <div>
      <form action="/entries/<%= entry._id %>/edit">
        <button class="edit-entry" id="edit-entry-button">Edit</button>
      </form>
    </div>
    <div>
      <form action="/entries/<%= entry._id %>?_method=DELETE" method="POST">
        <button type="submit" id="delete-button">Delete</button>
      </form>
    </div>
  </div>
<% } %>
  <div>
    <form action="/entries/<%= entry._id %>/comments" method="POST"> 
      <textarea rows="10" cols="15" name="text" placeholder="Share kind words..." required></textarea>
      <button type="submit">Post</button>
    </form>
    <p><%= entry.comments.length %></p>
  </div>
  <ul>
    <% entry.comments.forEach(comment => { %> 
      <li>
        <img src="<%= comment.authorId.avatar %>" />
        <%= comment.authorId.name %>
        <%= comment.date %>
        <%= comment.text %>
      </li>
    <% }) %> 
  </ul>
</main>

<%- include('../partials/footer') %>