<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/entries/show.css"
<%- include('../partials/nav') %>

<main>
  <div id="author-info">
    <h1><%= entry.date.toString().slice(0,15)%></h1>
    <h4><%= entry.authorId.name %></h4>
    <h6><%= entry.date.toString().slice(15,24)%></h6>
    <div><%= entry.text %></div>
  </div>
  <% if (user.profile._id.equals(entry.authorId._id)) { %>
  <div id="form-div">
    <div>
      <form action="/entries/<%= entry._id %>/edit">
        <div type="submit" id="edit-button">
          <button><span class="text">Edit</span>
            <span class="blob3"></span>
            <span class="blob3"></span>
            <span class="blob3"></span>
            <span class="blob3"></span>
          </button>
        </div>
      </form>
    </div>
    <div>
      <form action="/entries/<%= entry._id %>?_method=DELETE" method="POST">
        <div id="delete-button">
          <button type="submit"><span class="text">Delete</span>
            <span class="blob2"></span>
            <span class="blob2"></span>
            <span class="blob2"></span>
            <span class="blob2"></span>
          </button>
        </div>
      </form>
    </div>
  </div>
<% } %>
  <div>
    <form action="/entries/<%= entry._id %>/comments" method="POST"> 
      <textarea rows="10" cols="15" name="text" placeholder="Share kind words..." required></textarea>
      <div id="post-button">
        <button><span class="text">Post</span>
          <span class="blob"></span>
          <span class="blob"></span>
          <span class="blob"></span>
          <span class="blob"></span>
        </button>
      </div>
    </form>
    <div>
      <i class="fa-regular fa-comments"></i>
      <p><%= entry.comments.length %></p>
    </div>
  </div>
  <ul>
    <% entry.comments.forEach(comment => { %> 
      <li>
        <img src="<%= comment.authorId.avatar %>" class="avatar"/>
        <%= comment.authorId.name %>
        <%= entry.date.toString().slice(0,15)%>
        <%= entry.date.toString().slice(15,24)%>
        <%= comment.text %>
        <% if (user.profile._id.equals(comment.authorId._id)) { %>
        <form action="/entries/<%= entry._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
          <button type="submit" id="delete-icon"><i class="fa-solid fa-trash-can"></i></button>
        </form>
      </li>
      <% } %>
    <% }) %> 
  </ul>
</main>

<%- include('../partials/footer') %>