<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/entries/show.css"
<%- include('../partials/nav') %>

<main>
  <div id="author-info">
    <div id="title"><%= entry.title%></div>
    <div id="entry-date"><%= entry.date.toString().slice(0,15)%></div>
    <div id="entry-time"><%= entry.date.toString().slice(15,24)%></div>
    <div id="author-name"><%= entry.authorId.name %></div>
    <div id="entry-text"><%= entry.text %></div>
  </div>
  <% if (user.profile._id.equals(entry.authorId._id)) { %>
  <div id="form-div">
    <div id="edit">
      <form action="/entries/<%= entry._id %>/edit">
        <div type="submit" id="edit-button">
          <button><span class="text">Edit</span>
            <span class="blob3"></span>
            <span class="blob3"></span>
            <span class="blob3"></span>
            <span class="blob3"></span>
          </button>
        </div>
      </form>
    </div>
    <div id="delete">
      <form action="/entries/<%= entry._id %>?_method=DELETE" method="POST">
        <div id="delete-button">
          <button type="submit"><span class="text">Delete</span>
            <span class="blob2"></span>
            <span class="blob2"></span>
            <span class="blob2"></span>
            <span class="blob2"></span>
          </button>
        </div>
      </form>
    </div>
  </div>
<% } %>
    </form>
    <div id="comment-count">
      <i class="fa-regular fa-comments fa-2x"></i>
      <div id="count"><%= entry.comments.length %></div>
    </div>
  </div>

  <div><h4 id="support-header">Your Support System:</h4></div>
  
  <div id="comments">
    <ul id="comment-list">
      <% entry.comments.forEach(comment => { %> 
        <li>
          <div id="comment-info">
            <img src="<%= comment.authorId.avatar %>" class="avatar"/>
            <ul id="single-comment">
              <li id="comment-name"><%= comment.authorId.name %></li>
              <li id="comment-date"><%= entry.date.toString().slice(0,15)%></li>
              <li id="comment-time"><%= entry.date.toString().slice(15,24)%></li>
              <li><%= comment.text %></li>
            </ul>
            <% if (user.profile._id.equals(comment.authorId._id)) { %>
              <div id="delete-comment"> 
                <form action="/entries/<%= entry._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                  <button id="delete-comment-button" type="submit"><i class="fa-solid fa-trash-can fa-lg"></i></button>
                </form>
              </div>
            </div>
        </li>
        <% } %>
      <% }) %>  
    </ul>
  </div>
  <div id="post-section">
    <form action="/entries/<%= entry._id %>/comments" method="POST"> 
      <textarea rows="2" cols="25" name="text" placeholder="Share kind words..." required></textarea>
      <div id="post-button">
        <button><span class="text">Post</span>
          <span class="blob"></span>
          <span class="blob"></span>
          <span class="blob"></span>
          <span class="blob"></span>
        </button>
      </div>
  </div>
</main>

<%- include('../partials/footer') %>