<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/entries/yourJournal.css" />
<%- include('../partials/nav') %>

<main>
  <h1 class="animate__animated animate__fadeInDown">Your Journal</h1>
  <div class="animate__animated animate__fadeIn">
    <% entries.forEach(entry => { %>
      <div id="entryDate"><%= entry.date.toString().slice(0,15)%></div>
      <div id="entryDate"><%= entry.date.toString().slice(15,24)%></div>
      <p><%= entry.authorId.name %></p>
      <div id="entryText"><%= entry.text%></div>
      <div id="details-button">
        <a href="/entries/<%= entry._id %>" id="Details">
          <button><span class="text">Details</span>
            <span class="blob"></span>
            <span class="blob"></span>
            <span class="blob"></span>
            <span class="blob"></span>
          </button>
          </a>
      </div>
    <% }) %>
  </div>
</main>

<%- include('../partials/footer') %>